.banner {
  background-image: url(https://source.unsplash.com/random/1000x500);
  background-size: cover;
  color: white;
  padding: 120px 0;
}

body {
  font-size: 18px;
  line-height: 1.6;
  font-weight: lighter;
  font-family: 'Lora', serif;
  margin: 0;
}

.container {
  width: 700px;
  margin: 50px auto;
}

.banner h1 {
  font-size: 40px;
  font-weight: bold;
}
.banner p {
    font-size: 35px;
    font-style: italic;
    font-weight: lighter;
    opacity: 0.8;
}

a{
  text-decoration: none;
  background-color: rgb(203, 255, 238);
  color: #636363;
  font-weight: lighter;
  font-size: 25px;
  font-style: italic;
}

a:hover {
  background-color: aquamarine;
}

@media(max-width: 1200px) {
  .container {
    width: 1000px;
  }
}

@media(max-width: 992px) {
  .container {
    width: 700px;
  }
}

@media(max-width: 768px) {
  .container {
    width: 500px;
  }
}

@media(max-width: 576px) {
  .container {
    width: 300px;
  }
}
